[submodule ".zsh/auto-fu.zsh"]
	path = .zsh/auto-fu.zsh
	url = git@github.com:hchbaw/auto-fu.zsh.git
[submodule ".git-subcommands"]
	path = .git-subcommands
	url = git@github.com:watanany/git-subcommands.git
