{:aliases
 {:rebel
  {:extra-deps
   {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
    org.clojure/algo.generic {:mvn/version "0.1.3"}
    org.clojure/algo.monads {:mvn/version "0.1.6"}
    org.clojure/core.async {:mvn/version "1.6.681"}
    org.clojure/core.cache {:mvn/version "1.0.225"}
    org.clojure/core.logic {:mvn/version "1.0.1"}
    org.clojure/core.match {:mvn/version "1.0.1"}
    org.clojure/core.memoize {:mvn/version "1.0.257"}
    org.clojure/core.rrb-vector {:mvn/version "0.1.2"}
    org.clojure/core.unify {:mvn/version "0.5.7"}
    org.clojure/data.avl {:mvn/version "0.1.0"}
    org.clojure/data.codec {:mvn/version "0.1.1"}
    org.clojure/data.csv {:mvn/version "1.0.1"}
    org.clojure/data.finger-tree {:mvn/version "0.0.3"}
    org.clojure/data.fressian {:mvn/version "1.0.0"}
    org.clojure/data.int-map {:mvn/version "1.2.1"}
    org.clojure/data.json {:mvn/version "2.4.0"}
    org.clojure/data.priority-map {:mvn/version "1.1.0"}
    org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
    org.clojure/data.zip {:mvn/version "1.0.0"}
    org.clojure/java.classpath {:mvn/version "1.0.0"}
    org.clojure/java.data {:mvn/version "1.0.95"}
    org.clojure/java.jdbc {:mvn/version "0.7.12"}
    org.clojure/java.jmx {:mvn/version "1.0.0"}
    org.clojure/math.combinatorics {:mvn/version "0.2.0"}
    org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
    org.clojure/test.check {:mvn/version "1.1.1"}
    org.clojure/tools.analyzer {:mvn/version "1.1.1"}
    org.clojure/tools.analyzer.jvm {:mvn/version "1.2.3"}
    org.clojure/tools.cli {:mvn/version "1.0.219"}
    org.clojure/tools.deps.alpha {:mvn/version "0.15.1254"}
    org.clojure/tools.deps.graph {:mvn/version "1.1.84"}
    org.clojure/tools.gitlibs {:mvn/version "2.5.197"}
    org.clojure/tools.emitter.jvm {:mvn/version "0.1.0-beta5"}
    org.clojure/tools.logging {:mvn/version "1.2.4"}
    org.clojure/tools.macro {:mvn/version "0.1.5"}
    org.clojure/tools.namespace {:mvn/version "1.4.4"}
    org.clojure/tools.reader {:mvn/version "1.3.6"}
    org.clojure/tools.trace {:mvn/version "0.7.11"}
    org.clj-commons/pretty {:mvn/version "2.2"}
    buddy/buddy-core {:mvn/version "1.11.423"}
    buddy/buddy-auth {:mvn/version "3.0.323"}
    buddy/buddy-hashers {:mvn/version "2.0.167"}
    buddy/buddy-sign {:mvn/version "3.5.351"}
    clj-commons/clj-yaml {:mvn/version "1.0.27"}
    clj-glob/clj-glob {:mvn/version "1.0.0"}
    clj-http/clj-http {:mvn/version "3.12.3"}
    clj-time/clj-time {:mvn/version "0.15.2"}
    clj-python/libpython-clj {:mvn/version "2.026"}
    clojupyter/clojupyter {:mvn/version "0.3.6"}
    com.github.seancorfield/honeysql {:mvn/version "2.4.1078"}
    com.github.seancorfield/next.jdbc {:mvn/version "1.3.894"}
    etaoin/etaoin {:mvn/version "1.0.40"}
    expresso/expresso {:mvn/version "0.2.4"}
    hiccup/hiccup {:mvn/version "1.0.5"}
    hickory/hickory {:mvn/version "0.7.1"}
    metosin/malli {:mvn/version "0.17.0"}
    net.mikera/core.matrix {:mvn/version "0.63.0"}
    nrepl/nrepl {:mvn/version "1.0.0"}
    org.clojure.typed/runtime.jvm {:mvn/version "1.0.1"}
    org.clojure.typed/checker.jvm {:mvn/version "1.0.1"}
    org.postgresql/postgresql {:mvn/version "42.6.0"}
    org.tensorflow/tensorflow-core-platform {:mvn/version "0.5.0"}
    org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
    com.fasterxml.jackson.dataformat/jackson-dataformat-yaml {:mvn/version "2.15.2"}
    }
   :main-opts ["-m" "rebel-readline.main"]}}}
